body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: aquamarine; */
}

.calculator {
    width: 300px;
    text-align: center;
}

#display{
    width: 267px;
    padding: 15px;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin-top: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
}
