body {
  background-color: #dfdada;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 700px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.taskform-input{
  padding: 15px;
  width: 500px;
  margin-right: 20px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.taskform-btn{
  padding: 15px;
  border-radius: 5px;
  outline: none;
  width: 150px;
  cursor: pointer;
  font-weight: 700;
}

.taskcmp-btn,
.taskdel-btn {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  margin: 0 5px;
}